<h1>Listing trackers</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Token</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <% @trackers.each do |tracker| %>
            <tr>
                <td><%= tracker.name %></td>
                <td><%= tracker.token %></td>
                <td>
                    <%= link_to 'Show', tracker %> | <%= link_to 'Edit', edit_tracker_path(tracker) %> | <%= link_to 'Destroy', tracker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New Tracker', new_tracker_path %>
