<h1><%= @tracker.name %></h1>

<div class="input-prepend input-append">
    <div class="add-on">Tracking URL:</div>
    <input class="input-xxlarge" id="appendedInputButton" type="text" value="<%= images_url(@tracker.token) %>">
    <a class="add-on btn js-zeroclipboard" data-clipboard-text="<%= images_url(@tracker.token) %>" title="Copy to Clipboard"><i class="icon-copy"></i></a>
</div>

<h2>Viewings:</h2>

<ul>
    <%= render_activity(@activities) %>
</ul>

<%= link_to 'Edit', edit_tracker_path(@tracker) %> |
<%= link_to 'Back', trackers_path %> |
<%= link_to 'Destroy', @tracker, method: :delete, data: { confirm: 'Are you sure?' } %>
