<h1><%= @tracker.name %></h1>

<p><strong>Token:</strong> <%= @tracker.token %></p>

<h2>Viewings:</h2>

<ul>
    <%= render_activity(@activities) %>
</ul>

<%= link_to 'Edit', edit_tracker_path(@tracker) %> |
<%= link_to 'Back', trackers_path %> |
<%= link_to 'Destroy', @tracker, method: :delete, data: { confirm: 'Are you sure?' } %>
